  <form [formGroup]="newVMForm" (ngSubmit)="onSubmit()">
    <div class="form-row align-items-center">
      <div class="col-sm-1">
        <label class="sr-only" for="imageSearchSelection">ImageSearch</label>
        <select id="imageSearchSelection" class="form-control" (change)="onChange($event)">
          <option value="1">ImageId</option>
          <option value="2">ImageName</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label class="sr-only" for="inlineFormInputImage">Image</label>
        <div class="input-group">
          <input type="text" class="form-control" id="inlineFormInputImage" formControlName="image">
        </div>
      </div>
      <div class="col-auto">
        <input type="button" class="btn btn-primary" (click)="loadImages()" value="load Images" >
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-sm-3">
        <select>
          <option value="0"></option>
          <ng-container *ngFor="let o of images | slice:0:displayNum; let i=index">
            <option *ngIf="o.Description" [ngValue]="o.ImageId">{{o.Description}}</option>
          </ng-container>
        </select>
        <p *ngIf="!images && imagesSearchInfo"><em>Loading Images</em></p>
        <input type="button" class="btn btn-primary" (click)="increaseBy(10)" [disabled]="!images" value="Show More" >
      </div>
    </div>
  </form>
