  <div>
    <!--<form>-->
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <label for="name">ImageName</label>
              <input type="text" class="form-control" aria-label="imageName">
              <div class="input-group-append">
                <button type="button" class="btn btn-primary" onclick="loadImages()">Load Possible Images</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--</form>-->
  </div>
