  <form [formGroup]="newVMForm" (ngSubmit)="onSubmit()">
    <h2>Keypair</h2>
    <div [hidden]="keypair">
      <div class="form-row align-items-center">
        <div class="col-sm-3">
          <label class="sr-only" for="inlineFormInputKeypair">Keypair</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputKeypair" formControlName="keypairInput">
          </div>
        </div>
        <div class="col-auto">
          <p *ngIf="!keypair && keypairSearchInfo"><em>Loading or Creating Keypair</em></p>
          <input type="button" class="btn btn-primary" (click)="loadOrCreateKeypair()" value="load or Create keyPair" [disabled]="!this.f.keypairInput.value">
        </div>
      </div>
    </div>
    <div class="form-row align-items-center"  [hidden]="!keypair">
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="keypair" formControlName="keypair" aria-label="keypair" value ="{{keypair}}" readonly>
      </div>
    </div>
    <br/><br/><br/>


    <h2>SecurityGroup</h2>
    <div [hidden]="groupId">
      <div class="form-row align-items-center">
        <div class="input-group col-sm-2">
          <input type="text" class="form-control" formControlName="securityGroupName" placeholder="SecurityGroupName" aria-label="SecurityGroupName">
        </div>
        <div class="input-group col-sm-2">
          <textarea class="form-control" aria-label="SecurityGroupDescription" formControlName="securityGroupDescription" placeholder="securityGroupDescription"></textarea>
        </div>
        <div class="input-group col-sm-2">
          <input type="text" class="form-control" placeholder="vpcId" formControlName="vpcId" aria-label="vpcId">
        </div>
      </div>
      <div class="form-row align-items-center">
        <div class="input-group col-sm-2">
          <input type="text" class="form-control" placeholder="ip" formControlName="ip" aria-label="ip">
        </div>
        <div class="input-group col-sm-1">
          <input type="number" class="form-control" placeholder="port" formControlName="port" aria-label="port">
        </div>
        <div class="input-group col-sm-1" >
          <select class="form-control" (change)="onProtocolChange($event)">
            <option>TCP</option>
            <option>UDP</option>
          </select>
        </div>
        <input type="button" class="btn btn-primary" (click)="addToTable()" [disabled]="!(this.f.ip.value && this.f.port.value && this.f.protocol.value)" value="Add to Table" >
      </div>
      <div class="form-row align-items-center">
        <div class="input-group col-sm-2">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">IpAddresss</th>
                <th scope="col">Port</th>
                <th scope="col">Protocol</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let authorize of authorizeConfig; let i = index">
                <td>{{ authorize.ipaddress }}</td>
                <td>{{ authorize.port }}</td>
                <td>{{ authorize.protocol }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-row align-items-center">
        <div class="col-auto">
          <p *ngIf="!groupId && securityGroupInfo"><em>Loading or Creating SecurityGroup</em></p>
          <input type="button" class="btn btn-primary" (click)="loadOrCreateSecurityGroup()" value="load or Create SecurityGroup" [disabled]="!(this.f.securityGroupName.value && this.f.securityGroupDescription.value && this.f.vpcId.value)">
        </div>
      </div>
    </div>
    <div class="form-row align-items-center"  [hidden]="!groupId">
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="groupId" formControlName="groupId" aria-label="groupId" value ="{{groupId}}" readonly>
      </div>
    </div>
    <br/><br/><br/>


    <h2>Images</h2>
    <div>
      <div class="form-row align-items-center">
        <div class="col-sm-1">
          <label class="sr-only" for="imageSearchSelection">ImageSearch</label>
          <select id="imageSearchSelection" class="form-control" (change)="onChange($event)">
            <option value="1">ImageId</option>
            <option value="2">ImageName</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label class="sr-only" for="inlineFormInputImage">Image</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputImage" formControlName="imageInput">
          </div>
        </div>
        <div class="col-auto">
          <p *ngIf="!images && imagesSearchInfo"><em>Loading Images</em></p>
          <input type="button" class="btn btn-primary" (click)="loadImages()" value="load Images" >
        </div>
      </div>
      <div class="form-row align-items-center">
        <div class="col-sm-3">
          <select class="form-control" (change)="onImageChange($event)">
            <option value="0"></option>
            <ng-container *ngFor="let o of images | slice:0:displayNumImages; let i=index">
              <option *ngIf="o.Description" [value]="o.ImageId">{{o.Description}}</option>
            </ng-container>
          </select>
          <input type="button" class="btn btn-primary" (click)="increaseImagesBy(10)" [disabled]="!images" value="Show More" >
        </div>
      </div>
    </div>
    <br/><br/><br/>




    <h2>Instancetypes</h2>
    <div>
      <div class="form-row align-items-center">
        <div class="col-sm-2">
          <label class="sr-only" for="inlineFormInputMaxmemory">maxMemory</label>
          <input type="text" class="form-control" id="inlineFormInputMaxmemory" formControlName="maxMemory">
        </div>
        <div class="col-auto">
          <p *ngIf="!types && typesSearchInfo"><em>Loading Instancetypes</em></p>
          <input type="button" class="btn btn-primary" (click)="loadInstanceTypes()" value="load Types" >
        </div>
      </div>
      <div class="form-row align-items-center">
        <div class="col-sm-5">
          <select class="form-control" (change)="onTypeChange($event)">
            <option value="0"></option>
            <ng-container *ngFor="let t of types | slice:0:displayNumTypes; let i=index">
              <option  [value]="t.instance_type">{{t.pretty_name}} - {{t.memory}} GB</option>
            </ng-container>
          </select>
          <input type="button" class="btn btn-primary" (click)="increaseTypesBy(10)" [disabled]="!types" value="Show More" >
        </div>
      </div>
    </div>
    <br/><br/><br/>

    <h2>VM Creation</h2>
    <h6  [hidden]="(groupId && keypair && this.f.selectedtype.value && this.f.selectedImage.value)">Create Button Will be shown when securityGroup, keypair, instancetype and image are selected</h6>
    <div [hidden]="!(groupId && keypair && this.f.selectedtype.value && this.f.selectedImage.value)">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <p *ngIf="!instanceId && instanceCreateInfo"><em>Creating VM</em></p>
          <button type="submit" class="btn btn-primary">create VM</button>
          <!--<input type="button" class="btn btn-primary" (click)="createVM()" value="create VM" >-->
        </div>
      </div>
    </div>
  </form>
