<div class="container">
  <div class="row">
    <ul class="list-group col-sm-4 col-md-4 col-lg-4 border">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <button class="btn btn-primary" (click)="reloadVM()"><i class="fa fa-refresh" style="font-size:24px"></i></button>
      </div>
      <b class="text-center">VM</b>
      <div *ngFor="let vm of vms | slice:0:100; let i=index">
        <li *ngIf="vm.Instances[0].Tags && vm.Instances[0].State.Code!=48" class="list-group-item">
          {{vm.Instances[0].Tags[0].Value}} - {{vm.Instances[0].State.Name}}
          <input *ngIf="vm.Instances[0].State.Code==16" type="button" class="btn btn-primary" (click)="stop(vm.Instances[0].InstanceId)" value="Stop" >
          <input *ngIf="vm.Instances[0].State.Code==80" type="button" class="btn btn-primary" (click)="start(vm.Instances[0].InstanceId)" value="Start" >
          <a [routerLink]="['/awshome', 'detail', vm.Instances[0].InstanceId]" class="btn btn-primary" ><span>Detail</span></a>
        </li>
      </div>
    </ul>
    <ul class="list-group col-sm-4 col-md-4 col-lg-4 border">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <button  class="btn btn-primary" (click)="reloadSecurityGroup()">
          <i class="fa fa-refresh" style="font-size:24px"></i>
        </button>
      </div>
      <b class="text-center">SecurityGroup</b>
      <div *ngFor="let group of groups | slice:0:100; let i=index">
          {{group.GroupName}} - {{group.Description}}
      </div>
    </ul>
    <ul class="list-group col-sm-4 col-md-4 col-lg-4 border">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <button class="btn btn-primary" (click)="reloadkeyPair()"><i class="fa fa-refresh" style="font-size:24px"></i></button>
      </div>
      <b class="text-center">KeyPair</b>
      <div *ngFor="let keypair of keypairs | slice:0:100; let i=index">
        {{keypair.KeyName}}
      </div>
    </ul>
  </div>
</div>
